<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
{% if site.twitter_username %}<a style="color: white" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> <h2 class="project-tagline">Twitter</h2></a>{% endif %}{% if site.github_username %}<a style="color: white" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> <h2 class="project-tagline">GitHub</h2></a>{% endif %}{% if site.facebook_username %}<a style="color: white" href="https://www.facebook.com/{{ site.facebook_username  }}"><i class="fa fa-facebook"></i><h2 class="project-tagline"> Facebook</h2></a>{% endif %}
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </section>

    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45906012-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-45906012-7');
    </script>
    {% endif %}
  </body>
</html>
